<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>essay-booklist</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css 관련 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../category-booklist/category-booklist.css" />
    <script src="../category-booklist/category-booklist.js" type="module" defer></script>
</head>

<body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/elice-rabbit.png" width="30" height="30" />
                    <span class="has-text-link">Eladin</span>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
                    <ul id="navbar">
                        <li><a href="/myPage">마이페이지</a></li>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/register">회원가입</a></li>
                        <li>
                            <a href="/cart" aria-current="page">
                                <span class="icon">
                                    <i class="fas fa-cart-shopping"></i>
                                </span>
                                <span>장바구니</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </nav>
    <!-- 카테고리List & 카테고리명 & bookList contatiner -->
    <div class="category-categoryTitle-books-container">
        <!-- 카테고리 list container -->
        <div class="category-list-container">
            <div class="box" id="category">
                <p class="title is-5 has-text-info">Categories</p>
                <div class="field">
                    <li><a href="../pages/essay.html">에세이</li>
                </div>
                <div class="field">
                    <li><a href="../pages/trip.html">여행</li>
                </div>
                <div class="field">
                    <li><a href="../pages/self-dev.html">자기계발</li>
                </div>
                <div class="field">
                    <li><a href="../pages/com-mob.html">컴퓨터/모바일</li>
                </div>
                <div class="field mb-5">
                    <li><a href="../pages/det-story.html">추리소설</li>
                </div>
            </div>
        </div>

        <!-- 카테고리명 & bookList container -->
        <div class="categoryTitle-books-container">
            <!-- 카테고리명 container -->
            <div class="essay-category-container">
                <div class="box" id="essayBooks">
                    <p class="title is-5 has-text-info">에세이(${N}권)</p>
                </div>
            </div>

            <!-- 카테고리별 bookList container -->
            <div class="essay-bookList-container">
                <div class="box" id="book">
                    <div id="bookBox">
                        <div class="field">
                            <img src="../bookcoverEx.jpeg" alt="bookcover" width="200">
                        </div>
                        <div class="box">
                            <div id="mainBookField">
                                <div class="field" id="bookName">
                                    <p>아버지의 해방일지</p>
                                </div>
                                <div class="field infoValue" id="bookDescription">
                                    <p>" 죽음에서 시작하는 삶의 이야기"</p>
                                </div>
                            </div>

                            <div id="author_publishField">
                                <div class="field" id="authorValue">
                                    <p>정지아</p>
                                </div>
                                <div class="field infoValue" id="publisherValue">
                                    <p>창비</p>
                                </div>
                                <div class="field infoValue" id="publicationDateValue">
                                    <p>2022-06-10</p>
                                </div>
                            </div>
                            <div class="field" id="bookPrice">
                                <p>15,000원</p>
                            </div>
                            <div id="isEbookField">
                                <div class="field">
                                    <p>eBook</p>
                                </div>
                                <div class="field infoValue">
                                    <p>true</p>
                                </div>
                            </div>
                            <!-- <span class="icon">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span> -->
                            <!-- <div class="field">
                            <li>(판매가)13,500원</li>
                        </div> -->
                        </div>
                        <div id="cartButton">
                            <button class="button is-info is-fullwidth" id="submitCartButton">
                                장바구니
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>