.category-categoryTitle-books-container,
#bookBox {
  display: flex;
  flex-direction: row;
}

.categoryTitle-books-container {
  display: flex;
  flex-direction: column;
}

.category-list-container {
  align-items: center;
  justify-content: left;
  list-style: none;
  width: 30vh;
}

.essay-category-container {
  align-items: center;
  justify-content: right;
  width: 85vh;
}

.trip-category-container {
  align-items: center;
  justify-content: right;
  width: 85vh;
}

.self-dev-category-container {
  align-items: center;
  justify-content: right;
  width: 85vh;
}

.com-mob-category-container {
  align-items: center;
  justify-content: right;
  width: 85vh;
}

.det-story-category-container {
  align-items: center;
  justify-content: right;
  width: 85vh;
}

#bookBox {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

#bookBox > div {
  display: flex;
  flex-direction: column;
  margin-left: 3vh;
}

.infoValue {
  margin-left: 2vh;
}

#cartButton {
  margin-left: 20vh;
}
#submitCartButton {
  margin-right: 3vh;
}

#mainBookField {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bookName > p {
  font-size: 2rem;
}

#mainBookField > div > p {
  font-size: 1.5rem;
}

#author_publishField {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

#bookPrice {
  font-size: 1.2rem;
}

#isEbookField {
  display: flex;
  flex-direction: row;

  font-size: 1.1rem;
}
