<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>category-booklist</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css 관련 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="category-booklist.css" />
    <script src="category-booklist.js" type="module" defer></script>
</head>

<body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/elice-rabbit.png" width="30" height="30" />
                    <span class="has-text-link">Eladin</span>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
                    <ul id="navbar">
                        <li><a href="/myPage">마이페이지</a></li>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/register">회원가입</a></li>
                        <li>
                            <a href="/cart" aria-current="page">
                                <span class="icon">
                                    <i class="fas fa-cart-shopping"></i>
                                </span>
                                <span>장바구니</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- 카테고리List & 카테고리명 & bookList contatiner -->
    <div class="category-categoryTitle-books-container">
        <!-- 카테고리 list container -->
        <div class="category-list-container">
            <div class="box" id="category">
                <p class="title is-5 has-text-info">Categories</p>
                <div class="field">
                    <li><a href="./pages/essay.html">에세이</li>
                </div>
                <div class="field">
                    <li><a href="./pages/trip.html">여행</li>
                </div>
                <div class="field">
                    <li><a href="./pages/self-dev.html">자기계발</li>
                </div>
                <div class="field">
                    <li><a href="./pages/com-mob.html">컴퓨터/모바일</li>
                </div>
                <div class="field mb-5">
                    <li><a href="./pages/det-story.html">추리소설</li>
                </div>
                </form>
            </div>
        </div>

        <!-- 카테고리 타이틀 container -->
        <div class="categoryTitle-container">
        </div>

        <!-- 카테고리별 bookList container -->
        <div class="categoryTitle-books-container">
        </div>
    </div>

</body>

</html>