main .product-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.img {
  margin-top: 50px;
}

.book {
  margin: 50px 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
}

.book-info {
  margin-left: 50px;
}

.title {
  margin-top: 30px;
}

.author {
  margin-top: 20px;
}

.publisher {
  margin-top: 20px;
}

.description {
  margin-top: 20px;
}

.price {
  margin-top: 20px;
}

.publicationDate {
  margin-top: 20px;
}

.cart {
  display: block;
  width: 300px;
  text-align: center;
  margin-top: 200px;
  background-color: plum;
  border-radius: 50px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.popup a {
  color: grey;
  text-decoration: none;
  text-align: right;
  padding: 0;
}

.next_move {
  text-align: center;
  margin-bottom: 60px;
  justify-content: space-around;
}

.popup b {
  color: grey;
  text-decoration: none;
}

.confirm {
  color: grey;
  text-decoration: none;
  margin-left: 20px;
}

.move_to_cart {
  margin: auto;
  font-weight: 800;
  font-size: 1.5rem;
}

.popup:target {
  opacity: 1;
}

.popup:target + dim {
  opacity: 1;
  z-index: 2;
}

.dim {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 0;
  transition: all 0.5s;
}
