* {
  font-family: 'Elice Digital Baeum', sans-serif;
}

#navbarBasicExample {
  display: flex;
  align-items: center;
}

#navbarBasicExample > div.navbar-end > div > div > a {
  background-color: #ffffff;
  border: none;
  color: #5865ff;
}

#navbarBasicExample > div.navbar-end > div > div > a > span > img {
  filter: invert(33%) sepia(55%) saturate(2251%) hue-rotate(222deg) brightness(104%) contrast(100%);
}

#navbarBasicExample > div.navbar-start > a {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-top: 10px;
}

#navbarBasicExample > div.navbar-start > a > img {
  width: 250px;
  height: 50px;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-top: 20px;
  margin-bottom: 50px;
}

hr {
  border: 1px solid rgba(103, 0, 230, 0.1);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

footer > div > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;

  display: flex;
  align-items: center;
  font-feature-settings: 'liga' off;

  color: #6b7280;
  letter-spacing: 1.5px;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

footer > div > img {
  width: 150px;
  height: 30px;
  object-fit: cover;
  margin-left: 500px;
}

footer > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;

  font-feature-settings: 'liga' off;

  margin-left: 100px;
  margin-right: 100px;

  color: #6b7280;
  letter-spacing: 1.5px;
}

main .product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

body > main > div.product-detail > div > img {
  width: 500px;
}

.item_container {
  border: 1px solid black;
}

.book {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  margin-top: 30px;
  font-size: xx-large;
  font-weight: bold;
}

#author,
#publisher,
#price,
#publicationDate {
  margin-top: 20px;
  font-size: large;
}

#description {
  margin-top: 20px;
  font-style: italic;
  font-size: larger;
}

#cart {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #ffffff;

  margin-top: 200px;
  background: #3e56c4;

  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 500px;
  background-color: bisque;
  opacity: 0.6;
  transition: 0.5;
  border-radius: 10px;
}

.modal-content .tag.is-success.is-light {
  font-size: 30px;
  border-radius: 10px;
  margin-top: 50px;
}

.modal-content .btn_container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}
