<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="./product-detail.css" />
  <script src="./product-detail.js" defer type="module"></script>
  <script src="../nav/nav.js" type="module" defer></script>
  <script src="https://kit.fontawesome.com/91abb88819.js" crossorigin="anonymous" defer></script>
  <!-- 폰트 -->
  <link href="https://font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">

  <title>product-detail</title>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="../home/home.html">
          <img src="./image/Eladin_CI.png" alt="eladin_logo" />
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="../category-booklist/category-booklist.html" class="button ">
              <span class="icon">
                <img src="./image/store-solid.svg" width="20" />
              </span>
              <strong>Shop</strong>
            </a>
            <a id="myPage_btn" class="button ">
              <span class="icon">
                <img src="./image/user-solid.svg" width="15" />
              </span>
              <strong>My Page</strong>
            </a>
            <a href="../register/register.html" class="button ">
              <span class="icon">
                <img src="./image/pen-to-square-solid.svg" width="20" />
              </span>
              <strong>Sign Up</strong>
            </a>
            <a href="../login/login.html" class="button ">
              <span class="icon">
                <img src="./image/unlock-solid.svg" width="15" />
              </span>
              <strong id="login_btn">Log In</strong>
            </a>
            <a href="../cart/cart.html" class="button ">
              <span class="icon">
                <i class="fas fa-cart-shopping"></i>
              </span>
              <strong>Cart</strong>
            </a>
            <a id="adminPage_btn" class="button">
              <span class="icon">
                <i class="fa-solid fa-lock"></i>
              </span>
              <strong>Admin Page</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <div class="product-detail"></div>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <span class="tag is-success is-light">장바구니로 이동하시겠습니까?</span>
        <div class="btn_container">
          <button class="button is-success is-light confirm">확인</button>
          <button class="button is-success is-light del">취소</button>
        </div>
      </div>
    </div>
  </main>

  <!-- 푸터 -->
  <hr />
  <footer>
    <div>
      <p>Eladin - Online Bookstore</p>
      <img src="./image/Eladin_CI.png" />
    </div>
    <p>ⓒ 2022 Cozyma</p>
  </footer>
</body>

</html>