<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./admin-page.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="./admin-page.js" defer type="module"></script>
    <script src="./admin-page-orders.js" defer type="module"></script>
    <script src="./admin-page-category.js" defer type="module"></script>
    <script src="./admin-page-product.js" defer type="module"></script>
    <script src="./component/addEvent.js" defer type="module"></script>
    <script src="https://kit.fontawesome.com/91abb88819.js" crossorigin="anonymous" defer></script>
    <title>admin-page</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/" width="30" height="30" />
            <span class="has-text-link"><a href="../home/home.html">엘라딘</a></span>
          </a>
        </div>
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <ul id="navbar">
            <li><a href="../my-page/myPage.html">마이페이지</a></li>
            <li><a href="../login/login.html">로그인</a></li>
            <li><a href="../register/register.html">회원가입</a></li>
            <li>
              <a href="#cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span><a href="../cart/cart.html">장바구니</a></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <header class="title">&nbsp;&nbsp;&nbsp;관리자 페이지</header>
      <div class="contents">
        <ul class="admin-category">
          <button class="orderManagement"><li>주문관리</li></button>
          <button class="categoryManagement"><li>카테고리 설정</li></button>
          <button class="productManegement"><li>제품 설정</li></button>
        </ul>
        <div class="view-orders">
          <div class="bar">
            <div class="orderDate">주문일자</div>
            <div class="bookTitle">책 제목</div>
            <div class="count">수량</div>
            <div class="price">금액</div>
            <div class="shipping">배송현황</div>
            <div class="cancelOrder">주문취소</div>
          </div>
        </div>

        <div class="view-category">
          <div class="bar_1">
            <div class="categoryName">카테고리명</div>
            <button class="addCategory">+</button>
          </div>
        </div>

        <div class="view-product">
          <div class="bar_2">
            <div class="book-img">이미지</div>
            <div class="book-title">책 제목</div>
            <div class="book-ebook">eBook</div>
            <div class="book-author">저자</div>
            <div class="book-publisher">출판사</div>
            <div class="book-intro">책 소개글</div>
            <div class="book-price">가격</div>
            <div class="book-publicationDate">출시일</div>
            <button class="add-product">+</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
