header {
  border-bottom: 1px solid grey;
  margin: 20px 0 20px 70px;
  padding-bottom: 20px;
  width: 90%;
  color: grey;
}

.contents {
  display: flex;
}

.box .category_input{
  font-size: 20px;
  font-weight: bold;
}

.box .input_container{
  display: flex;
  margin-top: 10px;
}

.category {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 130px;
  height: 200px;
  margin: 0 50px 0 80px;
  padding: 30px 0 30px 0;
  align-items: center;
}

.view-orders {
  width: 80%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.orderManagement {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 80px;
}

.addCategory {
  border: none;
  background-color: white;
  cursor: pointer;
}

.addProduct {
  border: none;
  background-color: white;
  cursor: pointer;
}

.bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  background-color: bisque;
  padding-left: 20px;
}

.bar .orderDate {
  flex-basis: 10%;
  text-align: center;
}

.bar .bookTitle {
  flex-basis: 50%;
  text-align: center;
}

.bar .count {
  flex-basis: 10%;
  text-align: center;
}

.bar .price {
  flex-basis: 10%;
  text-align: center;
}

.bar .shipping {
  flex-basis: 10%;
  text-align: center;
}

.bar .cancelOrder {
  flex-basis: 10%;
  text-align: center;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.order .cancelOrder-btn {
  flex-basis: 10%;
  text-align: center;
}

.order .shipping_select {
  flex-basis: 10%;
  text-align: center;
}

.order .bookTitle {
  flex-basis: 50%;
  text-align: center;
}

.order .count {
  flex-basis: 10%;
  text-align: center;
}

.order .price {
  flex-basis: 10%;
  text-align: center;
}

.order .orderDate {
  flex-basis: 10%;
  text-align: right;
}
