<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="../icons8-요정-color-16.ico">
  <link rel="stylesheet" href="./admin-page.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <script src="./admin.js" type="module" defer></script>
  <script src="../nav/nav.js" type="module" defer></script>
  <script src="https://kit.fontawesome.com/91abb88819.js" crossorigin="anonymous" defer></script>
  <title>Admin Page</title>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="../home/home.html">
          <img src="./image/Eladin_CI.png" alt="eladin_logo" />
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="../category-booklist/category-booklist.html" class="button ">
              <span class="icon">
                <img src="./image/store-solid.svg" width="20" />
              </span>
              <strong>Shop</strong>
            </a>
            <a href="../login/login.html" class="button ">
              <span class="icon">
                <img src="./image/unlock-solid.svg" width="15" />
              </span>
              <strong id="login_btn">Log In</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div id="modal-js-example" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <label for="add_category" class="category_input">카테고리를 적어주세요</label>
          <div class="input_container">
            <input id="add_category" class="input is-info" type="text" placeholder="카테고리를 적어주세요" />
            <button class="button is-info">확인</button>
          </div>
        </div>
      </div>

      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <header class="title">&nbsp;&nbsp;&nbsp;관리자 페이지</header>
    <div class="contents">
      <ul class="admin-category">
        <button class="orderManagement">
          <li>주문관리</li>
        </button>
        <button class="categoryManagement">
          <li>카테고리 설정</li>
        </button>
        <button class="productManegement">
          <li>제품 설정</li>
        </button>
      </ul>
      <div class="view-orders">
        <div class="bar">
          <div class="orderDate">주문일자</div>
          <div class="orderName">주문자</div>
          <div class="bookTitle">책 제목</div>
          <div class="count">수량</div>
          <div class="price">금액</div>
          <div class="shipping">배송현황</div>
          <div class="cancelOrder">주문취소</div>
        </div>
      </div>

      <div class="view-category hidden">
        <div class="bar_1">
          <div class="categoryName">카테고리명</div>
          <button class="addCategory">카테고리 추가하기</button>
        </div>
        <div class="category_container">

        </div>
      </div>
      <div class="view-product hidden">
        <div class="bar_2">
          <div class="book-img">이미지</div>
          <div class="book-title">책 제목</div>
          <div class="book-ebook">eBook</div>
          <div class="book-author">저자</div>
          <div class="book-publisher">출판사</div>
          <div class="book-description">소개글</div>
          <div class="book-price">가격</div>
          <div class="book-publicationDate">출시일</div>
          <a class="add-product" href="./pages/add_item/add_item.html" class="link_add">상품추가하기</a>
        </div>
      </div>
    </div>
    </div>
  </main>
</body>


<footer>
  <hr />
  <div>
    <p>Eladin - Online Bookstore</p>
    <img src="./image/Eladin_CI.png" />
  </div>
  <p>ⓒ 2022 Cozyma</p>
</footer>

</html>