<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./admin-page.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="./admin.js" type="module" defer></script>
    <script src="https://kit.fontawesome.com/91abb88819.js" crossorigin="anonymous" defer></script>
    <title>admin-page</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href='./home.html'>
            <img src="./image/Eladin_CI.png" width="200">
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="../my-page/myPage.html" class="button has-text-link-dark has-background-link-light">
                <strong>My Page</strong>
              </a>
              <a href="../register/register.html" class="button has-text-link-dark has-background-link-light">
                <strong>Sign up</strong>
              </a>
              <a href="../login/login.html" class="button has-text-link-dark has-background-link-light">
                <strong>Log in</strong>
              </a>
              <a href="../cart/cart.html" class="button has-text-link-dark has-background-link-light">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <strong>Cart</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box">
            <label for="add_category" class="category_input">카테고리를 적어주세요</label>
            <div class="input_container">
              <input
                id="add_category"
                class="input is-info"
                type="text"
                placeholder="카테고리를 적어주세요"
              />
              <button class="button is-info">추가</button>
            </div>
          </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
      </div>
      <header class="title">&nbsp;&nbsp;&nbsp;관리자 페이지</header>
      <div class="contents">
        <ul class="admin-category">
          <button class="orderManagement"><li>주문관리</li></button>
          <button class="categoryManagement"><li>카테고리 설정</li></button>
          <button class="productManegement"><li>제품 설정</li></button>
        </ul>
        <div class="view-orders">
          <div class="bar">
            <div class="orderDate">주문일자</div>
            <div class="bookTitle">책 제목</div>
            <div class="count">수량</div>
            <div class="price">금액</div>
            <div class="shipping">배송현황</div>
            <div class="cancelOrder">주문취소</div>
          </div>
        </div>

        <div class="view-category hidden">
          <div class="bar_1">
            <div class="categoryName">카테고리명</div>
            <button class="addCategory">카테고리 추가하기</button>
          </div>
          <div class="category_container">

          </div>
          </div>
          <div class="view-product hidden">
            <div class="bar_2">
              <div class="book-img">이미지</div>
              <div class="book-title">책 제목</div>
              <div class="book-ebook">eBook</div>
              <div class="book-author">저자</div>
              <div class="book-publisher">출판사</div>
              <div class="book-price">가격</div>
              <div class="book-publicationDate">출시일</div>
              <button class="add-product">
                <a href="./pages/add-item/add-item.html" class="link_add">상품추가하기</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
