/* 헤더 */
header {
  border-bottom: 1px solid grey;
  margin: 20px 0 20px 70px;
  padding-bottom: 20px;
  width: 90%;
  color: grey;
}

/* 본문 */
.contents {
  display: flex;
}

.admin-category {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 200px;
  margin: 0 10px 0 80px;
  padding: 30px 0 30px 0;
  align-items: center;
}

/* 주문관리 */
.view-orders {
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  position: relative;
}

.orderManagement {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 80px;
}

.categoryManagement {
  border: none;
  background-color: white;
  cursor: pointer;
}

.productManegement {
  border: none;
  background-color: white;
  cursor: pointer;
}

.bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  background-color: bisque;
  padding-left: 20px;
}

.bar .orderDate {
  flex-basis: 10%;
  text-align: center;
}

.bar .bookTitle {
  flex-basis: 50%;
  text-align: center;
}

.bar .count {
  flex-basis: 10%;
  text-align: center;
}

.bar .price {
  flex-basis: 10%;
  text-align: center;
}

.bar .shipping {
  flex-basis: 10%;
  text-align: center;
}

.bar .cancelOrder {
  flex-basis: 10%;
  text-align: center;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.order .cancelOrder-btn {
  flex-basis: 10%;
  text-align: center;
}

.order .shipping_select {
  flex-basis: 10%;
  text-align: center;
}

.order .bookTitle {
  flex-basis: 50%;
  text-align: center;
}

.order .count {
  flex-basis: 10%;
  text-align: center;
}

.order .price {
  flex-basis: 10%;
  text-align: center;
}

.order .orderDate {
  flex-basis: 10%;
  text-align: right;
}

/* 카테고리 설정 */
.view-category {
  display: none;
}

.bar_1 {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding-left: 30px;
  background-color: bisque;
  text-align: left;
  justify-content: space-between;
  margin-left: 600px;
}

.categoryName {
  margin-left: 30px;
  text-align: center;
}

.addCategory {
  margin-right: 100px;
  text-align: center;
}

.category-list {
  width: 400px;
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 600px;
}

.category-list .category-name {
  flex-basis: 50%;
  text-align: center;
}

.category-list .editCategory-btn {
  flex-basis: 25%;
  text-align: center;
}

.category-list .deleteCategory-btn {
  flex-basis: 25%;
  text-align: center;
}

/* 제품 설정 */

.view-product {
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  position: relative;
  display: none;
}

.bar_2 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  background-color: bisque;
  padding-left: 20px;
  font-size: medium;
}

.bar_2 .book-img {
  flex-basis: 10%;
  text-align: center;
}

.bar_2 .book-title {
  flex-basis: 30%;
  text-align: center;
}

.bar_2 .book-ebook {
  flex-basis: 5%;
  text-align: center;
}

.bar_2 .book-author {
  flex-basis: 5%;
  text-align: center;
}

.bar_2 .book-publisher {
  flex-basis: 5%;
  text-align: center;
}

.bar_2 .book-intro {
  flex-basis: 30%;
  text-align: center;
}

.bar_2 .book-publicationDate {
  flex-basis: 5%;
  text-align: center;
}

.bar_2 .add-product {
  flex-basis: 10%;
  align-items: right;
  text-align: center;
  border: 1px solid red;
}

.product-list {
  display: flex;
  flex-direction: row;
  font-size: smaller;
}

.products {
  display: flex;
  flex-direction: row;
}

.product-list .book-img {
  flex-basis: 10%;
  text-align: center;
}

.product-list .book-title {
  flex-basis: 30%;
  text-align: center;
}

.product-list .EBook {
  flex-basis: 5%;
  text-align: center;
}

.product-list .author {
  flex-basis: 5%;
  text-align: center;
}

.product-list .publisher {
  flex-basis: 5%;
  text-align: center;
}

.product-list .intro {
  flex-basis: 40%;
  text-align: center;
}

.product-list .price {
  flex-basis: 5%;
  text-align: center;
}
