

.div_container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.go_shopping {
  margin-top: 50px;
  border: none;
  font-size: xx-large;
  background-color: lavender;
  cursor: pointer;
}
