@import url('./reset.css');

nav {
  display: flex;
  justify-content: space-around;
}

.container {
  width: 100%;
  margin: auto;
  border: 1px solid green;
}

.header {
  text-align: center;
  margin: 50px;
  font-size: 50px;
}

.select_container {
  display: flex;
  height: 35px;
  width: inherit;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.select_container .select_box {
  height: inherit;
}
.select_container .delete_box {
  height: inherit;
}

.container #deleteall_btn {
  margin: 5px;
}

.container .select_btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.container .select_btn.checked {
  background-color: black;
}

.item-container {
  width: inherit;
  position: relative;
  margin: auto;
}

.item-container .itembox {
  display: flex;
  margin-bottom: 10px;
}

.item-container .itembox .imgbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 1px solid black;
  width: 200px;
}

.item-container .itembox .imgbox .bookImg {
  width: 150px;
  height: 200px;
  margin: auto;
}

.item-container .itembox .infoBox {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex-basis: 400px;
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}

.item-container .itembox .priceBox {
  display: flex;
  flex-basis: 200px;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  position: relative;
}

.item-container .itembox .priceBox .delete_btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.add_btn_container {
  display: flex;
  justify-content: space-between;
  width: 80px;
  text-align: cemter;
  background-color: none;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  background-color: chartreuse;
}

.add_btn_container .add_btn_input {
  width: 20px;
  border: none;
  background-color: chartreuse;
  font-weight: bold;
  padding: 0;
  text-align: center;
}

.plus_btn,
.minus_btn {
  border: none;
  background-color: chartreuse;
  font-weight: bold;
  cursor: pointer;
}

.orderbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  height: 10vh;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  background-color: blanchedalmond;
}

.orderbar.hidden {
  display: none;
}

.orderbar .order_btn {
  margin: 0 20px 0 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.orderbar .priceTag {
  padding: 10px;
}

.orderpage {
  width: 70%;
  margin: 50px auto;
  border-top: 2px solid black;
}

.orderpage.hidden {
  display: none;
}

.orderpage .form_container {
  width: inherit;
  margin: 20px auto;
}

.orderpage .form_container .label_container{
  display: flex;
  justify-content: space-between;
  margin : 15px;

}

.label_container .tag.is-success {
  width: 150px;
  font-size: 15px;
  height: 30px;
}

.label_container .button.is-success.is-focused{
  height: 30px;
}

.orderItem_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.orderItem{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}

.orderItem .box{
  width: 100%;
  height: 100%;
  border-radius: 5px;

}

.orderItem .image.is-64x64{
  width: 150px;
  height: 200px;
  border-radius: 5px;
}

.orderItem .image.is-64x64 img{
  width: inherit;
  height: inherit;
}

.orderItem .content{
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}

.order_result_container{
  display: flex;
  align-items: center;
}

.order_result_container .box{
  height: 40px;
  text-align: center;
  line-height: 0;
  font-weight: bold;
}

.order_result_container .button.is-link{
  margin: 20px;
  height: 40px;

}

.footer {
  font-size: 30px;
  text-align: center;
}
