@import url("./reset.css");

nav{
    display : flex;
    justify-content: space-around;
}

.container{
    border-radius: 1px solid black;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom : 50px;
    font-size: 50px;
}
.container .selectbox{
    display: flex;
    align-items: center;
    position: absolute;
    top : -30px;
}

.container #select_btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;    
    margin : 5px;
}

.item-container{
    border: 1px solid black;
    width: 80%;
    position: relative;
    margin: auto;
}

.item-container .itembox{
    border : 1px solid black;
    display : flex;
    margin-bottom : 10px;
}

.item-container .itembox .imgbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border : 1px solid black;
    width: 200px;
}

.item-container .itembox .imgbox .bookImg{
    width: 150px ;
    height: 200px;
    border : 1px solid black;
    margin:auto;
}

.item-container .itembox .infoBox{
    display: flex;
    flex-direction: column;
    border : 1px solid black;
    flex-basis: 400px;
    flex-grow : 2;
    justify-content: space-around;
    align-items: center;


}

.item-container .itembox .priceBox{
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
    border : 1px solid black;
    align-items: center;
    justify-content: center;
}


.add_btn_container{
    display: flex;
    justify-content: space-between;
    width : 80px;
    text-align: cemter;
    background-color: none;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background-color: chartreuse;
}


.add_btn_container .add_btn_input{
    width: 20px;
    border: none;
    background-color: chartreuse;
    font-weight: bold;
    padding: 0;
    text-align: center;

}

.add_btn{
    border: none;
    background-color: chartreuse;
    font-weight: bold;
    cursor: pointer;
}


