<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./cart.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="./cart.js" defer type="module"></script>
    <script src="https://kit.fontawesome.com/91abb88819.js" crossorigin="anonymous" defer></script>
    <title>cart</title>
  </head>
  <body>
    <header>
      <nav>
        <a>nav1</a>
        <a>nav2</a>
        <a>nav3</a>
        <a>nav4</a>
        <a>nav5</a>
        <a>nav6</a>
      </nav>
    </header>
    <main>
      <section class="container">
        <h1 class="title is-1">장바구니</h1>
        <div class="selectbox">
          <button id="select_btn"></button>
          <label for="select_btn">전체선택</label>
        </div>
        <div class="item-container"></div>
      </section>
    </main>
    <footer>footer</footer>
  </body>
</html>
