<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./myPage.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="./myPage-cart.js" defer type="module"></script>
    <script src="./myPage-order.js" defer type="module"></script>
    <script src="./myPage-userInfo.js" defer type="module"></script>
    <script src="./subin/userInfo.js" type="module" defer></script>
    <script src="./component/addEvent.js" defer type="module"></script>
    <script src="../nav/nav.js" type="module" defer></script>
    <!-- <script src="./component/logout.js" type="module" defer></script> -->
    <!-- <script src="./component/changeName.js" type="module" defer></script> -->
    <script src="https://kit.fontawesome.com/91abb88819.js" crossorigin="anonymous" defer></script>
    <title>my-page</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="../home/home.html">
            <img src="./image/Eladin_CI.png" width="200" />
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                href="../category-booklist/category-booklist.html"
                class="button has-text-link-dark has-background-link-light"
              >
                <span class="icon">
                  <img src="./image/store-solid.svg" width="20" />
                </span>
                <strong>쇼핑하기</strong>
              </a>
              <a
                href="../cart/cart.html"
                class="button has-text-link-dark has-background-link-light"
              >
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <strong>장바구니</strong>
              </a>
              <a id="adminPage_btn" class="button has-background-danger-light">
                <span class="icon">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <strong>관리자 페이지</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <header>
        <div class="wrapper">
          <img class="profile-picture" src="../my-page/image/eladin.png" />
          <div class="text-area">
            <h1 class="greeting">Hi, </h1>
            <div class="welcome">마이페이지에 오신 걸 환영합니다!</div>
          </div>
        </div>
      </header>

      <div class="list">
        
        <!-- myPage-order.js -->
        <button id="order-button" class="order-list">
          주문 조회
        </button>
        <ul class="order-products">
        </ul>

        <!-- <button class="cart"><li>장바구니</li></button>
        <div class="cart-products"></div> -->
        <button class="userInfo_btn"><span>회원정보</span></button>
        <div class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="view-userInfo">
              <span>회원정보를 조회하려면<br /></span>
              <span>비밀번호를 입력하셔야 합니다.</span>
              <label class="label" for="passwordInput">비밀번호</label>
              <div class="control">
                <input
                  class="input"
                  id="passwordInput"
                  type="password"
                  placeholder="********"
                  autocomplete="on"
                />
              </div>
              <button class="confirm-btn">확인</button>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <div class="userInfo"></div>
        <button id="login_btn">로그아웃</button>
        <button class="deleteAccount">회원탈퇴</button>
      </ul>
    </main>
  </body>
</html>
