header {
  text-align: center;
  margin-top: 80px;
}

header .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

header h1 {
  font-size: xx-large;
  margin-bottom: 10px;
}

header .welcome {
  font-size: larger;
}

header .wrapper {
  position: relative;
  display: inline-block;
}

.list {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.order-list {
  background-color: lavender;
  font-size: x-large;
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

.cart {
  margin-top: 50px;
  background-color: lavender;
  font-size: x-large;
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

.userInfo_btn {
  margin-top: 50px;
  background-color: lavender;
  font-size: x-large;
  display: inline-block;
  width: 200px;
  color: black;
  border: 2px solid black;
}

.logout {
  margin-top: 50px;
  background-color: lavender;
  font-size: x-large;
  display: inline-block;
  width: 200px;
}

.cart-products {
  display: flex;
  flex-direction: column;
  width: 900px;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: none;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book .title {
  font-size: large;
  margin: 0 50px 0 50px;
}

.book .price {
  font-size: large;
  margin-bottom: 25px;
}

.book .remove-product {
  margin-left: 50px;
  height: 30px;
}

.book .order-product {
  margin-left: 50px;
  height: 30px;
}

.order-products {
  display: flex;
  flex-direction: column;
  width: 800px;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: none;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order .title {
  flex-basis: 30%;
  font-size: large;
  margin: 0 50px 0 50px;
}

.order .price {
  font-size: large;
  margin-bottom: 25px;
}

.order .cancel-order {
  margin-left: 50px;
  height: 30px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: none;
  border: 1px solid grey;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.popup a {
  color: grey;
  text-decoration: none;
  text-align: right;
  padding: 0;
}

.view-userInfo {
  margin: auto;
  font-weight: 800;
  font-size: 1.5rem;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  margin-bottom: 20px;
}

.user-info tbody tr th {
  width: 200px;
  border-left: 1px solid #ddd;
  padding-bottom: 30px;
}

.label {
  margin-top: 20px;
}

.popup:target {
  opacity: 1;
}

.popup:target + dim {
  opacity: 1;
  z-index: 2;
}

.dim {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 0;
  transition: all 0.5s;
}
