@import url("../reset.css");

* {
  font-family: 'Elice Digital Baeum', sans-serif;
}

#navbarBasicExample {
  display: flex;
  align-items: center;
}

#navbarBasicExample > div.navbar-end > div > div > a {
  background-color: #ffffff;
  border: none;
  color: #5865ff;
  font-family: 'Elice Digital Baeum';
}

#navbarBasicExample > div.navbar-end > div > div > a > span > img {
  filter: invert(33%) sepia(55%) saturate(2251%) hue-rotate(222deg) brightness(104%) contrast(100%);
}

#navbarBasicExample > div.navbar-start > a {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-top: 10px;
}

#navbarBasicExample > div.navbar-start > a > img {
  width: 250px;
  height: 50px;
  object-fit: cover;
}

header {
  text-align: center;
  margin-top: 80px;
}

header .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

header h1 {
  font-size: xx-large;
  margin-bottom: 10px;
}

header .welcome {
  font-size: larger;
}

header .wrapper {
  position: relative;
  display: inline-block;
}

.greeting {
  font-weight: 800;
}

.list {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.order-list {
  background-color: lavender;
  font-size: x-large;
  display: inline-block;
  width: 200px;
  cursor: pointer;
  font-weight: 800;
}

.order-list li{
  border: 1px solid red;
}

.cart {
  margin-top: 50px;
  background-color: lavender;
  font-size: x-large;
  display: inline-block;
  width: 200px;
  cursor: pointer;
  font-weight: 800;
}

.userInfo_btn {
  margin-top: 50px;
  background-color: lavender;
  font-size: x-large;
  display: inline-block;
  width: 200px;
  color: black;
  cursor: pointer;
  font-weight: 800;
}

#login_btn {
  margin-top: 50px;
  font-size: medium;
  display: inline-block;
  width: 200px;
  color: white;
  cursor: pointer;
  font-weight: 800;
}

.deleteAccount {
  margin-top: 50px;
  background-color: lavender;
  font-size: x-large;
  display: inline-block;
  width: 200px;
  cursor: pointer;
  font-weight: 800;
}

.cart-products {
  display: flex;
  flex-direction: column;
  width: 900px;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: none;
  font-weight: 800;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book .title {
  font-size: large;
  margin: 0 50px 0 50px;
}

.book .price {
  font-size: large;
  margin-bottom: 25px;
}

.book .remove-product {
  margin-left: 50px;
  height: 30px;
}

.book .order-product {
  margin-left: 50px;
  height: 30px;
}

.order-products{
  margin : 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.order-products.hidden{
  display:none;
}

.box.orderItem_container {
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.orderItem_container .content_contianer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.box.img_container {
  width: 180px;
  height: 240px;
}

.img_container img{
  width: inherit;
  height: inherit;
}



.control{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.control .tags.has-addons{
  height: 10px;

}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-top: 20px;
  margin-bottom: 50px;
}

hr {
  border: 1px solid rgba(103, 0, 230, 0.1);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

footer > div > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;

  display: flex;
  align-items: center;
  font-feature-settings: 'liga' off;

  color: #6b7280;
  letter-spacing: 1.5px;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

footer > div > img {
  width: 150px;
  height: 30px;
  object-fit: cover;
  margin-left: 500px;
}

footer > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;

  font-feature-settings: 'liga' off;

  margin-left: 100px;
  margin-right: 100px;

  color: #6b7280;
  letter-spacing: 1.5px;
}