<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./myPage.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="./myPage-cart.js" defer type="module"></script>
    <script src="./myPage-order.js" defer type="module"></script>
    <script src="./myPage-userInfo.js" defer type="module"></script>
    <script src="./component/addEvent.js" defer type="module"></script>
    <script src="https://kit.fontawesome.com/91abb88819.js" crossorigin="anonymous" defer></script>
    <title>my-page</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/" width="30" height="30" />
            <span class="has-text-link"><a href="../home/home.html">엘라딘</a></span>
          </a>
        </div>
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <ul id="navbar">
            <li><a href="../mypage">마이페이지</a></li>
            <li><a href="../login/login.html">로그인</a></li>
            <li><a href="../register/register.html">회원가입</a></li>
            <li>
              <a href="#cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span><a href="../cart/cart.html">장바구니</a></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <header>
        <div class="wrapper">
          <img class="profile-picture" src="../my-page/image/eladin.png" />
          <div class="text-area">
            <h1>Hi, 토끼 님!</h1>
            <div class="welcome">마이페이지에 오신 걸 환영합니다!</div>
          </div>
        </div>
      </header>

      <ul class="list">
        <button class="order-list">주문 조회</button>
        <div class="order-products"></div>
        <button class="cart"><li>장바구니</li></button>
        <div class="cart-products"></div>
        <a href="#pop1" class="userInfo_btn"><li>회원정보</li></a>
        <div class="popup" id="pop1">
          <a href="#a">닫기</a>
          <div class="view-userInfo">
            <span>회원정보를 조회하려면<br /></span>
            <span>비밀번호를 입력하셔야 합니다.</span>
            <label class="label" for="passwordInput">비밀번호</label>
            <div class="control">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="********"
                autocomplete="on"
              />
            </div>
          </div>
          <a class="confirm-btn">확인</a>
        </div>
        <div class="dim"></div>
        <div class="userInfo"></div>
        <button class="logout">로그아웃</button>
      </ul>
    </main>
  </body>
</html>
